.cell {
    border: 1px solid #61DBFB;
    width: 35px;
    height: 35px;
    padding:0;
}

.start{
    animation-name: startAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.end{
    animation-name: endAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.wall{
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes startAnimation {
    0% {
        transform: scale(.3);
        background-color: #00ff62
    }
    50% {
        transform: scale(1.2);
        background-color: #00ff62;
    }
    100% {
        transform: scale(1.0);
        background-color: #00ff62;
    }
}

@keyframes endAnimation {
    0% {
        transform: scale(.3);
        background-color: #61DBFB;
    }
    50% {
        transform: scale(1.2);
        background-color: #61DBFB;
    }
    100% {
        transform: scale(1.0);
        background-color: #61DBFB;
    }
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: #13174e;
    }
    50% {
        transform: scale(1.2);
        background-color: #13174e;
    }
    100% {
        transform: scale(1.0);
        background-color: #13174e;
    }
}